@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');



.top-cloud, .bottom-cloud{
  width: 200px;
}
.heading{
  margin-top: 10%;
}
.title-heading{
  font-family: 'Raleway', sans-serif;
}
.name-title {
  text-decoration: none;

}
.sun {
  height: 300px;
  margin-bottom: 20px;
  position: fixed;
  left: 10%;
  top:5%;
  animation: rotate 7s infinite linear;
}
@keyframes rotate {
  from{transform: rotateZ(0);}
  to{transform: rotateZ(360deg);}
}
/* raining day css */
.rain{
  height:100%;
  position: absolcdute;
  margin: 0 auto;
  padding:0;
  top:0;
  width:100%;
  /* background-image: url("../images/rain.png"); */
}

/* rain */

.drop {
  background: linear-gradient( to top, rgba(0,127,239,1)0%, rgba(51,153,255,0.2)100%);
  width: 1.3px;
  height: 30px;
  position: absolute;
  padding: 0;
  animation: fall 0.6s linear infinite;
}
@keyframes fall {
  to {margin-top: 600px;}
}

/* snow */

.snow-flake {
  background-color: #fff;
  height: 3px;
  width: 2px;
  padding: 0;
  margin:0;
  position: absolute;
  border-radius: 5px;
  animation: fall 3s linear infinite;
}
/* cloudy day  */

.cloud {
  position: fixed;
  opacity: 85%;
  animation: move 40s linear infinite;
}
