#root {
  padding: 0;
  margin: 0;
}
* {
  margin: 0;
  padding: 0;

}
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
body{
  overflow: hidden;
}
.App {
  font-family: "Montserrat", sans-serif;
  text-align: center;
  padding: 0;
  margin: 0;
}
body {
  height: 100%;
  color: #40514e;
  margin: 0px;
  padding: 0;
  text-align: center;
}

nav {
  border-bottom: 2px inset lightgrey;
  height: 60px;
  width: 100%;
  background-color: hidden;
  margin: 0 auto;
}

h1 {
  font-family: "Indie Flower", cursive;
  font-size: 5.625rem;
  margin: 50px auto 0;
  color: #633a82;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  color: #633a82;
  padding-bottom: 10px;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #633a82;
}
h4, h5 {
  margin: 0;
  color: #633a82;
}
h5 {
  font-weight: bolder;
}
ul {
  list-style: none;
  text-align: center;
}
li {
  font-family: "montserrat", sans-serif;
  color: #633a82;
  display: inline-block;
}
a {
  color: #633a82;
  font-family: "montserrat", sans-serif;
  padding: 5px;
  margin: 0 5px;
  text-decoration: none;
  font-weight: bold;
  line-height: 2;
}
a:hover {
  color: #f1fcfc;
}
p {
  font-family: "Montserrat", sans-serif;
  line-height: 2;
  font-size: 1.2rem;
}

span {
  text-decoration: underline;
  color: #633a82;
}
div {
  height: 25%;
  padding: 20px;
}
img {
  margin: 0;
}

hr {
  border: none;
  border-top: 12px dotted;
  width: 5%;
  color: lightgrey;
  margin: 0 auto;
}
table {
  margin: 40px auto 0;
  text-align: center;
  border-spacing: 3px 10px;
  font-family: "montserrat", sans-serif;
}
td {
  border: 2px solid #6ba8a9;
  border-radius: 5px;
  padding: 5px;
}
/************************** class section ******************/
.nav-nb {
  background-color: hidden;
  margin: 0 auto;
  padding: 0;
  height: 50px;
  position: absolute;
  top: 0;
  left: 0;
  position: fixed;
  z-index: 1;
  width: 100%;
  border-bottom: 2px lightgrey;
}
.nav-a {
  color: #f1fcfc;
}
.nav-a:hover {
  color: #633a82;
}
.heading {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  z-index: 2;
}
.title-heading {
  animation: stand 1s ease forward;
  color: #f1fcfc;
}
.title-span {
  text-decoration: none;
  color: #fff;
}
.subtitle-1 {
  color: #f1fcfc;
}
.top-cloud {
  position: fixed;
  right: 10%;
  top: 5%;
  opacity: 85%;
  /* animation: wind-right 20s linear infinite; */
}

.bottom-cloud {
  position: fixed;
  bottom: 40%;
  left: 10%;
  opacity: 85%;
  /* animation: wind-left 20s linear infinite; */
}

@keyframes wind-left {
  from {
    left: -100px;
  }
  to {
    left: 100%;
  }
}
@keyframes wind-right {
  from {
    right: -100px;
  }
  to {
    right: 100%;
  }
}
.plant {
  margin-bottom: 0;
  width: auto;
  height: 60%;
  position: absolute;
  bottom: -2%;
  left: 45%;
  transform: translate(-45%, 0);
  transition: all 0.2s linear;
  margin: 0;
  z-index: 1;
}
.bio {
  width: 50%;
  margin: 0 auto 0;
  text-align: left;
  line-height: 2;
  transition: all 0.5s ease;
}

.container > .row {
  transition: all ease 0.3s;
}


/* card section */
.skills {
  text-align: center;
  width: 80%;
  margin: 0 auto;
}

.skill-card {
  text-align: center;
  line-height: 2;
  transition: 0.5s ease;
  border: none;
  height: auto;
  width: 80%;
}

.subtitle-1 {
  font-weight: normal;
  margin: 0 auto;
}
.top-container {
  background-color: #00ccc9;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  position: relative;
  height: 80vh;
  padding-top: 10vh;
  padding-bottom: 0;
}
.middle-container {
  background-color: #fff;
  position:relative;
  z-index: 0;
}
.bottom-container {
  width: 100%;
  position: relative;
  padding: 0;
  min-height: 300px;
  overflow:auto;
  z-index:0;
}
.footer {
  background-color: #40e0d0;
  background-image: url("https://www.transparenttextures.com/patterns/arches.png");
  height: 75px;
  width: 100%;
  padding: 10px;
  position:relative;
  margin: 0;
  overflow: hidden;
    z-index:0;
}
.footer > a {
  color: #633a82;
  font-family: "montserrat", sans-serif;
  padding: 5px;
  margin: 0 5px;
  text-decoration: none;
  font-weight: bold;
  line-height: 2;
  transition: all 0.3s linear;
}
.footer > a:hover{
  text-decoration: none;

  opacity: 0.7;
}
/* contact me titles  */
.contact-me {
  position: absolute;
  left: 50%;
  top: 10%;
  z-index:0;
  transform: translateX(-50%);
  transition: all 1s ease;
}

/* form css */
.form {
  padding: 0;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  z-index:0;
}
.contact-me-form {
  top: 20px;
  width: 50vw;
  max-width: 1000px;
  position: absolute;
  left: 50%;
  margin: 0 auto;
  margin-bottom: 15px;
  transform: translateX(-50%);
}
.contact-me-form > input {
  width: 100%;
  display: inline-block;
  margin-bottom: 10px;
  border-radius: 30px;
  border: 1px #5f5f5f solid;
  text-align: center;
}
.contact-me-form > textarea {
  width: 100%;
  margin: 0;
  border-radius: 30px;
  outline: 0;
  border: 1px #5f5f5f solid;
  padding: 10px;
  resize:none;
}
.contact-me-form > textarea:focus,
input:focus {
  outline: none;
  box-shadow: 0 0 1px 1px #03fce8, 0 0 2px 2px #abfff8;
}
.error{
  color: red;
}
.contact-me-form > input[type="submit"] {
  background-color: #40e0d0;
  color: #633a82;
  font-weight: bold;
  margin-bottom: 5px;
}



@keyframes drop {
  from {
    height: 0;
  }
  to {
    height: 410px;
  }
}
.copyright {
  background-color: none;
    z-index:0;
}

.btn-contact {
  text-decoration: none;
  background-color: #40e0d0;
  color: #633a82;
  font-weight: bold;
  padding: 8px;
  border-radius: 8px;
  border: 1px solid #5f5f5f;
  font-family: "Montserrat", sans-serif;
}
.btn-contact:hover {
  opacity: 0.7;
}

.profile-image {
  width: 150px;
  height: 150px;
  float: left;
  margin-right: 20px;
  border-radius: 100%;
}
.skills-image {
  width: 25%;
  height: 25%;
  float: right;
  margin-left: 20px;
  border-radius: 100%;
}
.drop-down{
  width: 300px;
  height: 30px;
  background-color: rgba(0,0,0,0);
  border-radius: 100px;
  border: 1.5px solid #fff;
  color: #fff;
  text-align: center;
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 5;

}

.options {
  height: auto;
  width: 300px;
  border-radius: 30px;
  border: 1.5px solid #fff;
  margin: 0;
  padding:10px;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0,0,0,0);
}
.option {
  padding: 0;
  margin: 0;
}
.option:hover {
  background-color: #fff;
  color: #000;
  border-radius: 50px;
  cursor:pointer;
}

@media screen and (max-width: 1500px) {
  .bio {
    width: 70%;
  }
 p {
   font-size: 0.9rem;
 }
 .plant {
   height: 50%;
 }
}
@media screen and (max-width: 1000px) {
  .bio {
    width: 80%;
    font-size: 0.8rem;
  }
  .plant {
    height: 40%;
  }
  .contact-me-form {
    width: 80%;
  }
}